<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--import react-->
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
    <script src="lib/jquery.js"></script>
    <link rel="stylesheet" href="layout.css">
    <style>
        .yellow { background-color: yellow;}
        button {margin: 2px;}
        img {max-width: 180px;}
    </style>
</head>
<body>
    <div id="root"></div>
    <script src="js/quanLyGhiChu.js" type="text/babel"></script>
</body>
</html>