.album {
    background-color: yellow;
    padding: 5px;
    margin: 5px;
    border: solid 1px green;
}

.note {
    padding: 5px;
    margin: 3px;
    border: solid 3px green;
    border-radius: 5px;
    width: 150px;
}

.list-note {
    width: 170px;
    padding: 5px;
    border: solid 1px blue;
    border-radius: 5px;
}
input {
    max-width: 100%;
}